.map,
.righ-panel {
    height: 98vh;
    width: 80vw;
    float: left;
}

.map {
    border: 1px solid #000;
    width: 98.65vw; 
    height: 86vh;
}


.col-5 {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 180px;
}
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 180px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.infomation{
  right: 30px;
  bottom: 90px;
  min-width: 100px;
  position: absolute;
  /* display: none; */
 
}
.infomation_box{
    background: rgba(11, 11, 11, 0.61);
    color: #fff;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-radius: 3px;
}
.close_infomation{
    position: absolute;
    margin-top: 2px;
    margin-right: 2px;
    top: 10px;
    right: 10px;
    color:  #fff;
}
.toolbar {
    margin-top: 10px;
}
.list-icon {
    /* margin-right:7px;  */
    margin-bottom: 300px;
    width: 30px;
    height: 90px;
}
.buton-item {
    margin: 1px;
    padding: 0;
    color: #fff;
    font-size: 1.14em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.555em;
    width: 1.555em;
    border-radius: 3px;
    line-height: .4em;
    background-color: rgba(0,60,136,.5);
    border: none;
}
.mousePosition {
    position: fixed;
    right: 2px;
    bottom: 2px;
    border-radius: 10px;
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bolder;
  }
  .search_infomation {
    width: 245px;
    /* right: 50px; */
    top: 45px;
    min-width: 100px;
    position: absolute;
    margin-right: -18px;
  }
  .information_title {
    display: block;
  }
  .information_title h6 {
    margin-top: -19px;
    margin-right: 2px;
    font-weight: 750;
  }
  .search-navbar {
    display: flex;
    justify-content: space-around;
  }
  .option_information {
    margin-left: 10px;
  }
  .option-form {
    height: 36px;
    border-radius: 3px;
    border: 1px solid #ced4da;
    /* text-align: center; */
  }
  .btn-search {
    display: block;
    width: 38px;
    height:38px;   
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow:#348ccb;
    
}
.btn-search:hover {
    border: 3px solid #348ccb;
    /* transition: all 0.25s ease-in-out; */
}
#btnSeacher {
    color: #000;
}

#dropdownMenuButton {
    display: block;
    width: 167px;
    
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #90b0c1;
    border-radius: 0.25rem;
    box-shadow:#348ccb;
    border-color: #d4c9c9;
}
#list-dropdwn {
    /* background-color: rgba(11, 11, 11, 0.61); */
    /* color:  #fff; */
    left: 21px;
}
/* .text-down {
    color:  #fff;
} */
.option-item {
    border-radius: 3px;
}

body {
    overflow: hidden; /* Hide scrollbars */
  }

.dropdown{
    margin-right: 500px;
}

#btnSeacher{
    float: left;
    /* width: 20%; */
    padding: 10px;
    color: #fff;
    background-color: #7092FF;
    /* border-color: #7092FF; */
    font-size: 12px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 8px;
}
