.map,
.righ-panel {
    height: 98vh;
    width: 80vw;
    float: left;
}

.map {
    border: 1px solid #000;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 180px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.infomation{
  height: 100px;
  width: 100px;   
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}
.infomation_box{
    background: orange;
    height: 100px;
    width: 100px;
    position: absolute;   
}
.close_infomation{
    position: relative;
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}